[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
	branch = master
